@import 
    '_variables',
    '_normalize';

* {
    box-sizing: border-box;
}

html, body {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    background-color: #525252;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iGoFrame {
    width: 200px;
    height: 200px;
    background-color: $black-500;
    border: 12px solid $black-500;
    border-radius: 8px;
}

.iGoScreen {
    display: grid;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $white-500;
    border-radius: 8px;

    //grid
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px;

    &__option {
        width: 48px;
        height: 48px;
        padding: 1px;
        border-radius: 50%;
        background-color: midnightblue;

        &:first-of-type {
            grid-column-start: 3;
            grid-column-end: 3;
            grid-row-start: 3;
            grid-row-end: 3;
        }

        &:nth-of-type(2) {
            grid-column-start: 6;
            grid-column-end: 6;
            grid-row-start: 3;
            grid-row-end: 3;
        }
        &:nth-of-type(3) {
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 6;
            grid-row-end: 6;
        }
        &:nth-of-type(4) {
            grid-column-start: 5;
            grid-column-end: 5;
            grid-row-start: 7;
            grid-row-end: 7;
        }
        &:nth-of-type(5) {

            grid-column-start: 7;
            grid-column-end: 7;
            grid-row-start: 6;
            grid-row-end: 6;
        }

        &.main {
            width: auto;
            height: auto;
            grid-column-start: 4;
            grid-column-end: 6;
            grid-row-start: 4;
            grid-row-end: 6;
            background-color: rebeccapurple;
            /*width: 128px;
            height: 128px;
            position: absolute;
            top: calc(50% - 64px);
            left: calc(50% - 64px);
            background-color: rebeccapurple;*/
        }
    }
}